/*
Jetpack Sharing
---------------------------------------------------------------------------------------------------- */
 
div.sharedaddy div.sd-block {
	border: none;
	padding: 0;
}
 
div.sharedaddy .sd-content {
	float: right;
}
 
div.sharedaddy a.sd-button {
	border: none !important;
	box-shadow: none;
}
 
.sd-social-icon-text a.sd-button > span, a.sd-button > span {
	opacity: 1;
	padding: 6px 12px;
}
.sd-content li {
	float: left;
	margin-left: 3px;
}
a.sd-button > span {
	background-image: none !important;
	background: #1671f0;
	border: none;
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}
a.sd-button > span + span {
	display: none;
}
 
a.sd-button:hover > span {
	background: none;
	color: #333;
	}
 
.sd-content .sd-button span.share-count {
	color: #e5e5e5 !important;
	font-size: 100% !important;
}
a.sd-button>span {
	height: 2em;
	width: 2em;
	display: block;
	text-align: center;
	line-height: 1.4em;
	-webkit-border-radius: 3em;
	-moz-border-radius: 3em;
	-o-border-radius: 3em;
	border-radius: 3em;
}
a.sd-button>span:hover {
	color: #FFF;
}
a.sd-button:hover{
	text-decoration: none;
}
li a.sd-button>span:before {
	font-size: 1.4em;
	margin-left: -0.3em;
}

li a.sd-button>span {
	background: #2196c5;
	background: rgba(33,150,197,1);
	-webkit-transition: background 100ms ease-in-out;
	-moz-transition: background 100ms ease-in-out;
	-ms-transition: background 100ms ease-in-out;
	-o-transition: background 100ms ease-in-out;
	transition: background 100ms ease-in-out;
}
li a.sd-button>span:hover {
	background: rgba(33,150,197,0.7);
	}

li.share-facebook a.sd-button>span  {
	background: #3b5998;
	background: rgba(59,89,152,1);
	}
li.share-facebook a.sd-button>span:before {
	content: "\f09a";
	font-family: FontAwesome;
	margin-left: -0.2em;
	}
li.share-facebook a.sd-button>span:hover {
	background: rgba(59,89,152,0.7);
}	

li.share-twitter a.sd-button>span  {
	background: #00aced;
	background: rgba(0,172,237,1);
	}
li.share-twitter a.sd-button>span:before {
	content: "\f099";
	font-family: FontAwesome;
	margin-left: -0.32em;
	}
li.share-twitter a.sd-button>span:hover {
	background: rgba(0,172,237,0.7);
}
	
li.share-google-plus-1 a.sd-button>span  {
	background: #dd4b39;
	background: rgba(221,75,57,1);
	}
li.share-google-plus-1 a.sd-button>span:before {
	content: "\f0d5";
	font-family: FontAwesome;
	}
li.share-google-plus-1 a.sd-button>span:hover  {
	background: rgba(221,75,57,0.7);
	}
	
li.share-linkedin a.sd-button>span  {
	background: #007bb6;
	background: rgba(0,123,182,1);
	}
li.share-linkedin a.sd-button>span:before {
	content: "\f0e1";
	font-family: FontAwesome;
	font-size: 1.2em;
	}
li.share-linkedin a.sd-button>span:hover  {
	background: rgba(0,123,182,0.7);
	}	
	
li.share-pinterest a.sd-button>span  {
	color: #CB2027;
	color: rgba(203,32,39,1);
	background: none;
	line-height: 1.288em;
	-webkit-transition: color 100ms ease-in-out;
	-moz-transition: color 100ms ease-in-out;
	-ms-transition: color 100ms ease-in-out;
	-o-transition: color 100ms ease-in-out;
	transition: color 100ms ease-in-out;
	}
li.share-pinterest a.sd-button>span:before {
	content: "\f0d2";
	font-family: FontAwesome;
	font-size: 2.35em;
	margin-left: -0.365em;
	
	}
li.share-pinterest a.sd-button>span:hover  {
	color: rgba(203,32,39,0.7);
	}	
	
	
li.share-tumblr a.sd-button>span {
	background: #35465c;
	background: rgba(53,70,92,1);
	}
li.share-tumblr a.sd-button>span:before {
	content: "\f173";
	font-family: FontAwesome;
	margin-left: -0.225em;
}
li.share-tumblr a.sd-button>span:hover {
	background: rgba(53,70,92,0.7);
	}
	
li.share-reddit a.sd-button>span {
	color: #1c1c1b;
	background: #CEE3F8;
	background: rgba(206,227,248,1);
	}
li.share-reddit a.sd-button>span:before {
	content: "\f1a1";
	font-family: FontAwesome;
	margin-left: -0.45em;
	font-size: 1.2em;
}
li.share-reddit a.sd-button>span:hover {
	background: rgba(206,227,248,0.7);
	}	

li.share-stumbleupon a.sd-button>span {
	background: #EB4924;
	background: rgba(235,73,36,1);
	}
li.share-stumbleupon a.sd-button>span:before {
	content: "\f1a4";
	font-family: FontAwesome;
	margin-left: -0.4em;
	font-size: 1.2em;
}
li.share-stumbleupon a.sd-button>span:hover {
	background: rgba(235,73,36,0.7);
	}

li.share-pocket a.sd-button>span {
	background: #D3505A;
	background: rgba(211,80,90,1);
	}
li.share-pocket a.sd-button>span:before {
	content: "\f078";
	font-family: FontAwesome;
	margin-left: -0.4em;
}
li.share-pocket a.sd-button>span:hover {
	background: rgba(211,80,90,0.7);
	}		

li.share-press-this a.sd-button>span  {
	color: #464646;
	color: rgba(70, 70, 70,1);
	background: none;
	line-height: 1.288em;
	-webkit-transition: color 100ms ease-in-out;
	-moz-transition: color 100ms ease-in-out;
	-ms-transition: color 100ms ease-in-out;
	-o-transition: color 100ms ease-in-out;
	transition: color 100ms ease-in-out;
	}
li.share-press-this a.sd-button>span:before {
	content: "\f19a";
	font-family: FontAwesome;
	font-size: 2em;
	margin-left: -0.365em;
	
	}
li.share-press-this a.sd-button>span:hover  {
	color: rgba(70, 70, 70,0.7);
	}		


li.share-print a.sd-button>span {

	}
li.share-print a.sd-button>span:before {
	content: "\f02f";
	font-family: FontAwesome;
	margin-left: -0.35em;
	}
li.share-print a.sd-button>span:hover {
	}
	
	
li.share-email a.sd-button>span:before {
	content: "\f0e0";
	font-family: FontAwesome;
	}